
<%= conference.key %>

<%= conference.name %>

<%= conference.date %>

<span class="status">
<%= conference.status %>
</span>

<button class="start">start</button>
<button class="stop">stop</button>

<script>
  $('.start').click(function() {
    $.ajax({
      url: location.href+'/start'
    }).done(function(conference) {
      $('.status').text(conference.status);
    });
  });

  $('.stop').click(function() {
    $.ajax({
      url: location.href+'/stop'
    }).done(function(conference) {
      $('.status').text(conference.status);
    });
  });
</script>
