client

<button class="like">Like</button>

<script>
var office = '赤坂02';
var key = location.href.split(/conferences\//)[1]; // Conference key

io.socket.on('conference-stopped', function(res) {
  if (res.key == key) {
    console.log('Stopped');
    console.log(res);
  }
});

io.socket.on('conference-started', function(res) {
  if (res.key == key) {
    console.log('Started');
    console.log(res);
  }
});

io.socket.get('/like', {}, function(res) {
  console.log(res);
});

$('.like').click(function() {
  io.socket.post('/like', {sid: socket.id, office: office, key: key}, function(res) {
    console.log(res);
    console.log('posted like');
  });
});
</script>
