client

<button class="like">Like</button>

<script>
var office = '赤坂02';
var key = location.href.split(/client\//)[1]; // Conference key

var socket = io.connect();
socket.on('connect', function() {
  console.log('connected');
});

$('.like').click(function() {
  io.socket.post('/like', {sid: socket.id, office: office, key: key}, function(res) {
    console.log(res);
    console.log('posted like');
  });
});
</script>
