
<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body>
    <%- body %>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-2.2.2.min.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
